h1{
    color: rgb(5, 82, 52);
    text-align: center;
}

#m{
    color:indigo;
    text-align: center;
    border-style: solid;
    border-color: black;
    width: 100px;
    margin-left: 565px;
}
<<<<<<< HEAD

.navbar-brand img {
    filter: invert(100%) brightness(100);
}

.navbar-brand img:hover {
    filter: brightness(200%) grayscale(20%);
}

.btn
{
    border: none;
    background-color: rgb(39, 144, 172);
    transition: background-color 0.3s, color 0.3s;
}

.button-hover-class:hover {
    background-color: rgb(27, 97, 116);
}

.nav-item a {
    color: white;
=======
.login
{
    border: none;
    background-color: rgb(7, 153, 136) !important;
    transition: background-color 0.3s, color 0.3s;
}

.login:hover{
    background-color: rgb(3, 65, 58) !important;
>>>>>>> 877aef00225e4482fbaa7fa9c1a07c7e37ae5b8f
}